@import "variables";

body {
  background-color: #FFFFFF;
}

.btn {
  &:active, &:focus, &:active:focus {
    outline: none;
  }
}

.form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar {
  border-bottom: 1px solid #eceece;
}
