body {
  background-color: #FFFFFF;
}

.btn {
  &:active, &:focus, &:active:focus {
    outline: none;
  }
}

.form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
